@import "tailwindcss";


.rightImg {
    max-width: 1150px;
}

*{
  font-family: "Mulish", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}



.skills img {
    max-width: 80px;
}
.card{
  max-height: 300px;
}
